<div class="container" cdkDropListGroup>
  <div class="calendar-container">

    <div class="calendar-header">
      <div>
        <h2 class="calendar-month"
          *ngIf="_CalenderService.currentView === 'month' || _CalenderService.currentView === 'week'">
          {{ _CalenderService.viewDate | date : "MMMM" }}
          <span>{{ _CalenderService.viewDate | date : "y" }}</span>
        </h2>
        <h2 class="calendar-month" *ngIf="_CalenderService.currentView === 'day'">
          {{ _CalenderService.viewDate | date : "d MMMM" }}
          <span>{{ _CalenderService.viewDate | date : "y" }}</span>
        </h2>
        <span class="calendar-dayname" *ngIf="_CalenderService.currentView === 'day'">
          {{ _CalenderService.viewDate | date : "EEEE" }}
        </span>
      </div>
      <mat-button-toggle-group class="calendar-view-toggle" name="_CalenderService.currentView"
        (change)="_CalenderService.switchToView($event.value)" aria-label="Calendar-View">
        <mat-button-toggle checked="{{ isActive('/calendar/calendermonth') }}" [routerLink]="'/calendar/calendermonth'"
          [ngClass]="{ 'active': isActive('/calendar/calendermonth') }">
          Month
        </mat-button-toggle>
        <mat-button-toggle checked="{{ isActive('/calendar/calenderweek') }}" routerLink="/calendar/calenderweek"
          routerLinkActive="active">
          Week
        </mat-button-toggle>
        <mat-button-toggle  checked="{{ isActive('/calendar/calenderday') }}" routerLink="/calendar/calenderday" routerLinkActive="active">
          Day
        </mat-button-toggle>



      </mat-button-toggle-group>
      <div class="calendar-controls">
        <button mat-icon-button (click)="_CalenderService.previous()" (keydown.enter)="_CalenderService.previous()"
          (keydown.space)="_CalenderService.previous()">
          <mat-icon>chevron_left</mat-icon>
        </button>
        <button mat-stroked-button (click)="_CalenderService.viewToday()" (keydown.enter)="_CalenderService.viewToday()"
          (keydown.space)="_CalenderService.viewToday()">
          Today
        </button>
        <button mat-icon-button (click)="_CalenderService.next()" (keydown.enter)="_CalenderService.next()"
          (keydown.space)="_CalenderService.next()">
          <mat-icon>chevron_right</mat-icon>
        </button>
        <button mat-flat-button (click)="_CalenderService.selectDate()" (keydown.enter)="_CalenderService.selectDate()"
          (keydown.space)="_CalenderService.selectDate()">
          Add Appointment
        </button>
      </div>
    </div>


    <router-outlet></router-outlet>

  </div>
</div>